# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Directories
cmake-build*

# CLion Project Files
.idea

# Vim
*.swp

# Data files
*.csv

# Cmake files
../CMakeCache.txt
../CMakeFiles/
../Makefile
../cmake_install.cmake
../external/CMakeFiles/
../external/Makefile
../external/argagg/CMakeFiles/
../external/argagg/Makefile
../external/argagg/cmake_install.cmake
../external/cmake_install.cmake
../thumbulator/CMakeFiles/
../thumbulator/Makefile
../thumbulator/cmake_install.cmake


